.root {
    height: 294px;
    width: calc(50% - 32px);
    margin: 0 16px 16px;
    box-shadow: 0 2px 8px 0 rgba(91, 137, 163, .2);
    overflow: hidden;
    position: relative;
    transition: box-shadow .3s ease-in-out;
    will-change: box-shadow;
    border-radius: 6px;
    color: #333;

    &:hover {
        box-shadow: 0 10px 20px 0 rgba(91, 137, 163, .2);

        .image {
            transform: scale(1.3);
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    left: 0;
    right: 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
}

.image {
    transform: scale(1) translateZ(0);
    transform-origin: center center;
    transition: transform 1s ease-in-out;
    will-change: transform;
    position: absolute;
    top: 0;
    bottom: 50px;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: -1;
    backface-visibility: hidden;

    &_cechnya {
        background-image: url(./images/chechnya.jpg);
    }

    &_elista {
        background-image: url(./images/elista.jpeg);
    }
}

.city {
    font-size: 17px;
    color: #333;
    margin-bottom: 2px;
    font-weight: 700;
}

.county {
    font-size: 13px;
    color: #333;
}

